


<div class="text-center">
    <h1 class="display-8">@ViewBag.Title</h1>
    <p>@ViewBag.Message</p>
    <div class="row">
        <div class="col-4 mx-auto">
            <a href="/Courses" class="btn btn-outline-info">Courses</a>
            <a href="/Students" class="btn btn-outline-info">Students</a>
            <a href="/Teachers" class="btn btn-outline-info">Teachers</a>
        </div>
    </div>
</div>
